accelerate==1.0.1
beautifulsoup4==4.12.3
datasets==2.19.1
deepspeed==0.15.3
easydict==1.13
einops==0.7.0
flash-attn==2.6.3
h5py==3.12.1
hjson==3.1.0
huggingface-hub==0.26.1
nltk==3.9.1
numpy==1.24.4
pandas==1.5.3
peft==0.13.2
pyarrow==14.0.1
pyg-lib==0.4.0+pt24cu124
redis==5.2.1
sacrebleu==2.4.3
safetensors==0.4.3
scikit-learn==1.2.0
scipy==1.12.0
sentencepiece==0.2.0
spacy==3.7.4
tensorboard==2.9.0
torch==2.4.0+cu124
torch-geometric==2.6.1
torch_cluster==1.6.3+pt24cu124
torch_scatter==2.1.2+pt24cu124
torch_sparse==0.6.18+pt24cu124
torch_spline_conv==1.2.2+pt24cu124
tqdm==4.66.2
transformers==4.46.0
triton==3.0.0
wandb==0.17.0
